/* 時鐘背景色 */

#clock:hover {
  transform: scale(112%) translateY(-30px);
  cursor: pointer;
}

#clock {
  position: absolute;
  left: 64.63%;
  bottom: 44%;
  /* transform: translate(0, -47.3%); */
}

#table_clock {
  position: relative;
  list-style: none;
  border: none;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0;
}

.tr_clock {
  list-style: none;
  border: none;
  height: 10px;
  box-sizing: border-box;
  color: blue;
  /* margin: 0;
	padding: 0; */
}

.td_clock {
  box-sizing: border-box;
  display: inline-block;
  width: 12.6px;
  height: 12.6px;
  /* background: rgb(218, 25, 25); */
  /* margin-left: 0.2px; */
  /* margin-bottom: 0.2px; */
  /* border: 0.05px solid rgb(218, 218, 218); */
  color: black;
  /* font-size: 12px; */
}

/* 時針 */

#hourHand {
  list-style: none;
  border: none;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 11%;
}

.tr_hour {
  list-style: none;
  border: none;
  height: 10px;
  box-sizing: border-box;
}

.td_hour {
  box-sizing: border-box;
  display: inline-block;
  width: 12.6px;
  height: 12.6px;
  background: #000;
  margin-left: 0.2px;
  margin-bottom: 0.2px;
  border: 0.05px solid rgb(218, 218, 218);
  font-size: 0.001px;
}

/* 分針 */

#minuteHand {
  list-style: none;
  border: none;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 6%;
}

.tr_Minute {
  list-style: none;
  border: none;
  height: 10px;
  box-sizing: border-box;
}

.td_Minuter {
  box-sizing: border-box;
  display: inline-block;
  width: 12.6px;
  height: 12.6px;
  background: #000;
  margin-left: 0.2px;
  margin-bottom: 0.2px;
  border: 0.05px solid rgb(218, 218, 218);
  font-size: 0.001px;
}

/* 秒針 */

#secondHand {
  position: absolute;
  top: 50%;
  left: 51%;
  width: 5px;
  height: 118px;
  background-color: #a00;
  transform-origin: 41% 6%;
}

/* 時鐘填色 */

/* 邊框 */
#tr_clock_2 .td_clock_11,
#tr_clock_2 .td_clock_12,
#tr_clock_2 .td_clock_19,
#tr_clock_2 .td_clock_20,
#tr_clock_3 .td_clock_7,
#tr_clock_3 .td_clock_8,
#tr_clock_3 .td_clock_9,
#tr_clock_3 .td_clock_10,
#tr_clock_3 .td_clock_11,
#tr_clock_3 .td_clock_12,
#tr_clock_3 .td_clock_13,
#tr_clock_3 .td_clock_18,
#tr_clock_3 .td_clock_19,
#tr_clock_3 .td_clock_20,
#tr_clock_3 .td_clock_21,
#tr_clock_3 .td_clock_22,
#tr_clock_3 .td_clock_23,
#tr_clock_3 .td_clock_24,
#tr_clock_4 .td_clock_7,
#tr_clock_4 .td_clock_8,
#tr_clock_4 .td_clock_9,
#tr_clock_4 .td_clock_10,
#tr_clock_4 .td_clock_11,
#tr_clock_4 .td_clock_12,
#tr_clock_4 .td_clock_13,
#tr_clock_4 .td_clock_17,
#tr_clock_4 .td_clock_18,
#tr_clock_4 .td_clock_19,
#tr_clock_4 .td_clock_20,
#tr_clock_4 .td_clock_21,
#tr_clock_4 .td_clock_22,
#tr_clock_4 .td_clock_23,
#tr_clock_4 .td_clock_24,
#tr_clock_5 .td_clock_5,
#tr_clock_5 .td_clock_6,
#tr_clock_5 .td_clock_25,
#tr_clock_5 .td_clock_26,
#tr_clock_6 .td_clock_5,
#tr_clock_6 .td_clock_6,
#tr_clock_6 .td_clock_25,
#tr_clock_6 .td_clock_26,
#tr_clock_7 .td_clock_4,
#tr_clock_7 .td_clock_27,
#tr_clock_8 .td_clock_2,
#tr_clock_8 .td_clock_3,
#tr_clock_8 .td_clock_28,
#tr_clock_8 .td_clock_29,
#tr_clock_9 .td_clock_2,
#tr_clock_9 .td_clock_3,
#tr_clock_9 .td_clock_28,
#tr_clock_9 .td_clock_29,
#tr_clock_10 .td_clock_2,
#tr_clock_10 .td_clock_3,
#tr_clock_10 .td_clock_28,
#tr_clock_10 .td_clock_29,
#tr_clock_11 .td_clock_2,
#tr_clock_11 .td_clock_3,
#tr_clock_11 .td_clock_28,
#tr_clock_11 .td_clock_29,
#tr_clock_12 .td_clock_2,
#tr_clock_12 .td_clock_3,
#tr_clock_12 .td_clock_28,
#tr_clock_12 .td_clock_29,
#tr_clock_13 .td_clock_2,
#tr_clock_13 .td_clock_3,
#tr_clock_13 .td_clock_28,
#tr_clock_13 .td_clock_29,
#tr_clock_14 .td_clock_2,
#tr_clock_14 .td_clock_3,
#tr_clock_14 .td_clock_28,
#tr_clock_14 .td_clock_29,
#tr_clock_15 .td_clock_2,
#tr_clock_15 .td_clock_3,
#tr_clock_15 .td_clock_28,
#tr_clock_15 .td_clock_29,
#tr_clock_16 .td_clock_2,
#tr_clock_16 .td_clock_3,
#tr_clock_16 .td_clock_28,
#tr_clock_16 .td_clock_29,
#tr_clock_17 .td_clock_2,
#tr_clock_17 .td_clock_3,
#tr_clock_17 .td_clock_28,
#tr_clock_17 .td_clock_29,
#tr_clock_18 .td_clock_2,
#tr_clock_18 .td_clock_3,
#tr_clock_18 .td_clock_28,
#tr_clock_18 .td_clock_29,
#tr_clock_19 .td_clock_2,
#tr_clock_19 .td_clock_3,
#tr_clock_19 .td_clock_28,
#tr_clock_19 .td_clock_29,
#tr_clock_20 .td_clock_2,
#tr_clock_20 .td_clock_3,
#tr_clock_20 .td_clock_28,
#tr_clock_20 .td_clock_29,
#tr_clock_21 .td_clock_2,
#tr_clock_21 .td_clock_3,
#tr_clock_21 .td_clock_28,
#tr_clock_21 .td_clock_29,
#tr_clock_22 .td_clock_2,
#tr_clock_22 .td_clock_3,
#tr_clock_22 .td_clock_28,
#tr_clock_22 .td_clock_29,
#tr_clock_23 .td_clock_2,
#tr_clock_23 .td_clock_3,
#tr_clock_23 .td_clock_28,
#tr_clock_23 .td_clock_29,
#tr_clock_24 .td_clock_2,
#tr_clock_24 .td_clock_3,
#tr_clock_24 .td_clock_28,
#tr_clock_24 .td_clock_29,
#tr_clock_25 .td_clock_4,
#tr_clock_25 .td_clock_27,
#tr_clock_26 .td_clock_4,
#tr_clock_26 .td_clock_27,
#tr_clock_27 .td_clock_5,
#tr_clock_27 .td_clock_6,
#tr_clock_27 .td_clock_25,
#tr_clock_27 .td_clock_26,
#tr_clock_28 .td_clock_7,
#tr_clock_28 .td_clock_8,
#tr_clock_28 .td_clock_9,
#tr_clock_28 .td_clock_10,
#tr_clock_28 .td_clock_11,
#tr_clock_28 .td_clock_12,
#tr_clock_28 .td_clock_13,
#tr_clock_28 .td_clock_14,
#tr_clock_28 .td_clock_15,
#tr_clock_28 .td_clock_16,
#tr_clock_28 .td_clock_17,
#tr_clock_28 .td_clock_18,
#tr_clock_28 .td_clock_19,
#tr_clock_28 .td_clock_20,
#tr_clock_28 .td_clock_21,
#tr_clock_28 .td_clock_22,
#tr_clock_28 .td_clock_23,
#tr_clock_28 .td_clock_24,
#tr_clock_29 .td_clock_7,
#tr_clock_29 .td_clock_8,
#tr_clock_29 .td_clock_9,
#tr_clock_29 .td_clock_10,
#tr_clock_29 .td_clock_11,
#tr_clock_29 .td_clock_12,
#tr_clock_29 .td_clock_13,
#tr_clock_29 .td_clock_14,
#tr_clock_29 .td_clock_15,
#tr_clock_29 .td_clock_16,
#tr_clock_29 .td_clock_17,
#tr_clock_29 .td_clock_18,
#tr_clock_29 .td_clock_19,
#tr_clock_29 .td_clock_20,
#tr_clock_29 .td_clock_21,
#tr_clock_29 .td_clock_22,
#tr_clock_29 .td_clock_23,
#tr_clock_29 .td_clock_24 {
  background: #000;
  border: 0.05px solid rgb(218, 218, 218);
}

#tr_clock_2 .td_clock_13,
#tr_clock_2 .td_clock_14,
#tr_clock_2 .td_clock_15,
#tr_clock_2 .td_clock_18,
#tr_clock_2 .td_clock_19,
#tr_clock_3 .td_clock_14,
#tr_clock_3 .td_clock_15,
#tr_clock_4 .td_clock_14,
#tr_clock_4 .td_clock_15,
#tr_clock_4 .td_clock_16,
#tr_clock_5 .td_clock_7,
#tr_clock_5 .td_clock_8,
#tr_clock_5 .td_clock_9,
#tr_clock_5 .td_clock_10,
#tr_clock_5 .td_clock_11,
#tr_clock_5 .td_clock_12,
#tr_clock_5 .td_clock_13,
#tr_clock_5 .td_clock_14,
#tr_clock_5 .td_clock_15,
#tr_clock_5 .td_clock_16,
#tr_clock_5 .td_clock_17,
#tr_clock_5 .td_clock_18,
#tr_clock_5 .td_clock_19,
#tr_clock_5 .td_clock_20,
#tr_clock_5 .td_clock_21,
#tr_clock_5 .td_clock_22,
#tr_clock_5 .td_clock_23,
#tr_clock_5 .td_clock_24,
#tr_clock_6 .td_clock_7,
#tr_clock_6 .td_clock_8,
#tr_clock_6 .td_clock_9,
#tr_clock_6 .td_clock_24,
#tr_clock_6 .td_clock_25,
#tr_clock_6 .td_clock_26,
#tr_clock_7 .td_clock_5,
#tr_clock_7 .td_clock_6,
#tr_clock_7 .td_clock_8,
#tr_clock_7 .td_clock_9,
#tr_clock_7 .td_clock_24,
#tr_clock_7 .td_clock_25,
#tr_clock_7 .td_clock_26,
#tr_clock_8 .td_clock_4,
#tr_clock_8 .td_clock_7,
#tr_clock_8 .td_clock_25,
#tr_clock_8 .td_clock_26,
#tr_clock_8 .td_clock_27,
#tr_clock_9 .td_clock_4,
#tr_clock_9 .td_clock_7,
#tr_clock_9 .td_clock_25,
#tr_clock_9 .td_clock_26,
#tr_clock_9 .td_clock_27,
#tr_clock_10 .td_clock_5,
#tr_clock_10 .td_clock_6,
#tr_clock_10 .td_clock_27,
#tr_clock_11 .td_clock_5,
#tr_clock_11 .td_clock_6,
#tr_clock_11 .td_clock_27,
#tr_clock_12 .td_clock_5,
#tr_clock_12 .td_clock_6,
#tr_clock_12 .td_clock_27,
#tr_clock_13 .td_clock_5,
#tr_clock_13 .td_clock_6,
#tr_clock_13 .td_clock_27,
#tr_clock_14 .td_clock_4,
#tr_clock_14 .td_clock_5,
#tr_clock_14 .td_clock_6,
#tr_clock_14 .td_clock_27,
#tr_clock_15 .td_clock_4,
#tr_clock_15 .td_clock_5,
#tr_clock_15 .td_clock_6,
#tr_clock_15 .td_clock_27,
#tr_clock_16 .td_clock_4,
#tr_clock_16 .td_clock_5,
#tr_clock_16 .td_clock_6,
#tr_clock_16 .td_clock_27,
#tr_clock_17 .td_clock_4,
#tr_clock_17 .td_clock_5,
#tr_clock_17 .td_clock_6,
#tr_clock_17 .td_clock_27,
#tr_clock_18 .td_clock_4,
#tr_clock_18 .td_clock_5,
#tr_clock_18 .td_clock_6,
#tr_clock_18 .td_clock_27,
#tr_clock_19 .td_clock_4,
#tr_clock_19 .td_clock_5,
#tr_clock_19 .td_clock_6,
#tr_clock_19 .td_clock_27,
#tr_clock_20 .td_clock_4,
#tr_clock_20 .td_clock_5,
#tr_clock_20 .td_clock_6,
#tr_clock_20 .td_clock_27,
#tr_clock_21 .td_clock_4,
#tr_clock_21 .td_clock_5,
#tr_clock_21 .td_clock_6,
#tr_clock_21 .td_clock_27,
#tr_clock_22 .td_clock_4,
#tr_clock_22 .td_clock_5,
#tr_clock_22 .td_clock_6,
#tr_clock_22 .td_clock_27,
#tr_clock_23 .td_clock_4,
#tr_clock_23 .td_clock_5,
#tr_clock_23 .td_clock_6,
#tr_clock_23 .td_clock_27,
#tr_clock_24 .td_clock_4,
#tr_clock_24 .td_clock_5,
#tr_clock_24 .td_clock_6,
#tr_clock_24 .td_clock_7,
#tr_clock_24 .td_clock_25,
#tr_clock_24 .td_clock_26,
#tr_clock_24 .td_clock_27,
#tr_clock_24 .td_clock_4,
#tr_clock_24 .td_clock_5,
#tr_clock_24 .td_clock_6,
#tr_clock_24 .td_clock_7,
#tr_clock_24 .td_clock_26,
#tr_clock_25 .td_clock_5,
#tr_clock_25 .td_clock_6,
#tr_clock_25 .td_clock_7,
#tr_clock_25 .td_clock_8,
#tr_clock_25 .td_clock_9,
#tr_clock_25 .td_clock_24,
#tr_clock_25 .td_clock_25,
#tr_clock_25 .td_clock_26,
#tr_clock_26 .td_clock_5,
#tr_clock_26 .td_clock_6,
#tr_clock_26 .td_clock_7,
#tr_clock_26 .td_clock_8,
#tr_clock_26 .td_clock_9,
#tr_clock_26 .td_clock_24,
#tr_clock_26 .td_clock_25,
#tr_clock_26 .td_clock_26,
#tr_clock_27 .td_clock_7,
#tr_clock_27 .td_clock_8,
#tr_clock_27 .td_clock_9,
#tr_clock_27 .td_clock_10,
#tr_clock_27 .td_clock_11,
#tr_clock_27 .td_clock_12,
#tr_clock_27 .td_clock_13,
#tr_clock_27 .td_clock_14,
#tr_clock_27 .td_clock_15,
#tr_clock_27 .td_clock_16,
#tr_clock_27 .td_clock_17,
#tr_clock_27 .td_clock_18,
#tr_clock_27 .td_clock_19,
#tr_clock_27 .td_clock_20,
#tr_clock_27 .td_clock_21,
#tr_clock_27 .td_clock_22,
#tr_clock_27 .td_clock_23,
#tr_clock_27 .td_clock_24 {
  background: red;
  border: 0.05px solid rgb(218, 218, 218);
}

#tr_clock_2 .td_clock_16,
#tr_clock_2 .td_clock_17,
#tr_clock_3 .td_clock_16,
#tr_clock_3 .td_clock_17,
#tr_clock_7 .td_clock_7,
#tr_clock_8 .td_clock_5,
#tr_clock_8 .td_clock_6,
#tr_clock_9 .td_clock_5,
#tr_clock_9 .td_clock_6,
#tr_clock_10 .td_clock_4,
#tr_clock_11 .td_clock_4,
#tr_clock_12 .td_clock_4,
#tr_clock_13 .td_clock_4 {
  background-color: yellow;
  border: 0.05px solid rgb(218, 218, 218);
}

#tr_clock_6 .td_clock_10,
#tr_clock_6 .td_clock_11,
#tr_clock_6 .td_clock_12,
#tr_clock_6 .td_clock_13,
#tr_clock_6 .td_clock_14,
#tr_clock_6 .td_clock_15,
#tr_clock_6 .td_clock_16,
#tr_clock_6 .td_clock_17,
#tr_clock_6 .td_clock_18,
#tr_clock_6 .td_clock_19,
#tr_clock_6 .td_clock_20,
#tr_clock_6 .td_clock_21,
#tr_clock_6 .td_clock_22,
#tr_clock_6 .td_clock_23,
#tr_clock_7 .td_clock_10,
#tr_clock_7 .td_clock_11,
#tr_clock_7 .td_clock_12,
#tr_clock_7 .td_clock_13,
#tr_clock_7 .td_clock_14,
#tr_clock_7 .td_clock_15,
#tr_clock_7 .td_clock_16,
#tr_clock_7 .td_clock_17,
#tr_clock_7 .td_clock_18,
#tr_clock_7 .td_clock_19,
#tr_clock_7 .td_clock_20,
#tr_clock_7 .td_clock_21,
#tr_clock_7 .td_clock_22,
#tr_clock_7 .td_clock_23,
#tr_clock_8 .td_clock_8,
#tr_clock_8 .td_clock_9,
#tr_clock_8 .td_clock_23,
#tr_clock_8 .td_clock_24,
#tr_clock_9 .td_clock_8,
#tr_clock_9 .td_clock_9,
#tr_clock_9 .td_clock_23,
#tr_clock_9 .td_clock_24,
#tr_clock_10 .td_clock_7,
#tr_clock_10 .td_clock_25,
#tr_clock_10 .td_clock_26,
#tr_clock_11 .td_clock_7,
#tr_clock_11 .td_clock_25,
#tr_clock_11 .td_clock_26,
#tr_clock_12 .td_clock_7,
#tr_clock_12 .td_clock_25,
#tr_clock_12 .td_clock_26,
#tr_clock_13 .td_clock_7,
#tr_clock_13 .td_clock_25,
#tr_clock_13 .td_clock_26,
#tr_clock_14 .td_clock_7,
#tr_clock_14 .td_clock_25,
#tr_clock_14 .td_clock_26,
#tr_clock_15 .td_clock_7,
#tr_clock_15 .td_clock_25,
#tr_clock_15 .td_clock_26,
#tr_clock_16 .td_clock_7,
#tr_clock_16 .td_clock_25,
#tr_clock_16 .td_clock_26,
#tr_clock_17 .td_clock_7,
#tr_clock_17 .td_clock_25,
#tr_clock_17 .td_clock_26,
#tr_clock_18 .td_clock_7,
#tr_clock_18 .td_clock_25,
#tr_clock_18 .td_clock_26,
#tr_clock_19 .td_clock_7,
#tr_clock_19 .td_clock_25,
#tr_clock_19 .td_clock_26,
#tr_clock_20 .td_clock_7,
#tr_clock_20 .td_clock_25,
#tr_clock_20 .td_clock_26,
#tr_clock_21 .td_clock_7,
#tr_clock_21 .td_clock_25,
#tr_clock_21 .td_clock_26,
#tr_clock_22 .td_clock_7,
#tr_clock_22 .td_clock_25,
#tr_clock_22 .td_clock_26,
#tr_clock_23 .td_clock_7,
#tr_clock_23 .td_clock_25,
#tr_clock_23 .td_clock_26,
#tr_clock_24 .td_clock_8,
#tr_clock_24 .td_clock_9,
#tr_clock_24 .td_clock_24,
#tr_clock_24 .td_clock_25,
#tr_clock_25 .td_clock_10,
#tr_clock_25 .td_clock_11,
#tr_clock_25 .td_clock_12,
#tr_clock_25 .td_clock_13,
#tr_clock_25 .td_clock_14,
#tr_clock_25 .td_clock_15,
#tr_clock_25 .td_clock_16,
#tr_clock_25 .td_clock_17,
#tr_clock_25 .td_clock_18,
#tr_clock_25 .td_clock_19,
#tr_clock_25 .td_clock_20,
#tr_clock_25 .td_clock_21,
#tr_clock_25 .td_clock_22,
#tr_clock_25 .td_clock_23,
#tr_clock_26 .td_clock_10,
#tr_clock_26 .td_clock_11,
#tr_clock_26 .td_clock_12,
#tr_clock_26 .td_clock_13,
#tr_clock_26 .td_clock_14,
#tr_clock_26 .td_clock_15,
#tr_clock_26 .td_clock_16,
#tr_clock_26 .td_clock_17,
#tr_clock_26 .td_clock_18,
#tr_clock_26 .td_clock_19,
#tr_clock_26 .td_clock_20,
#tr_clock_26 .td_clock_21,
#tr_clock_26 .td_clock_22,
#tr_clock_26 .td_clock_23 {
  border: 0.05px solid rgb(218, 218, 218);
  background: rgb(70, 156, 255);
  background: rgb(27, 209, 255);
  background: rgb(47, 65, 124);
  background: rgb(9, 110, 141);
  background: rgb(20, 92, 201);
  background: rgb(20, 38, 201);
  background: rgb(56, 116, 196);
  background: rgb(138, 189, 255);
  background: rgb(116, 239, 255);
  background: rgb(104, 225, 255);
  background: rgb(147, 172, 255);
  background: rgb(0, 168, 65);
  background: rgb(25, 240, 255);
}

#tr_clock_8 .td_clock_10,
#tr_clock_8 .td_clock_13,
#tr_clock_8 .td_clock_14,
#tr_clock_8 .td_clock_15,
#tr_clock_8 .td_clock_17,
#tr_clock_8 .td_clock_18,
#tr_clock_8 .td_clock_19,
#tr_clock_8 .td_clock_22,
#tr_clock_9 .td_clock_10,
#tr_clock_9 .td_clock_13,
#tr_clock_9 .td_clock_14,
#tr_clock_9 .td_clock_15,
#tr_clock_9 .td_clock_16,
#tr_clock_9 .td_clock_17,
#tr_clock_9 .td_clock_18,
#tr_clock_9 .td_clock_19,
#tr_clock_9 .td_clock_22,
#tr_clock_10 .td_clock_8,
#tr_clock_10 .td_clock_9,
#tr_clock_10 .td_clock_10,
#tr_clock_10 .td_clock_11,
#tr_clock_10 .td_clock_12,
#tr_clock_10 .td_clock_13,
#tr_clock_10 .td_clock_14,
#tr_clock_10 .td_clock_15,
#tr_clock_10 .td_clock_16,
#tr_clock_10 .td_clock_17,
#tr_clock_10 .td_clock_18,
#tr_clock_10 .td_clock_19,
#tr_clock_10 .td_clock_20,
#tr_clock_10 .td_clock_21,
#tr_clock_10 .td_clock_22,
#tr_clock_10 .td_clock_23,
#tr_clock_10 .td_clock_24,
#tr_clock_11 .td_clock_10,
#tr_clock_11 .td_clock_11,
#tr_clock_11 .td_clock_12,
#tr_clock_11 .td_clock_13,
#tr_clock_11 .td_clock_14,
#tr_clock_11 .td_clock_15,
#tr_clock_11 .td_clock_16,
#tr_clock_11 .td_clock_17,
#tr_clock_11 .td_clock_18,
#tr_clock_11 .td_clock_19,
#tr_clock_11 .td_clock_20,
#tr_clock_11 .td_clock_21,
#tr_clock_11 .td_clock_22,
#tr_clock_12 .td_clock_10,
#tr_clock_12 .td_clock_11,
#tr_clock_12 .td_clock_12,
#tr_clock_12 .td_clock_13,
#tr_clock_12 .td_clock_14,
#tr_clock_12 .td_clock_15,
#tr_clock_12 .td_clock_16,
#tr_clock_12 .td_clock_17,
#tr_clock_12 .td_clock_18,
#tr_clock_12 .td_clock_19,
#tr_clock_12 .td_clock_20,
#tr_clock_12 .td_clock_21,
#tr_clock_12 .td_clock_22,
#tr_clock_13 .td_clock_8,
#tr_clock_13 .td_clock_9,
#tr_clock_13 .td_clock_10,
#tr_clock_13 .td_clock_11,
#tr_clock_13 .td_clock_12,
#tr_clock_13 .td_clock_13,
#tr_clock_13 .td_clock_14,
#tr_clock_13 .td_clock_15,
#tr_clock_13 .td_clock_16,
#tr_clock_13 .td_clock_17,
#tr_clock_13 .td_clock_18,
#tr_clock_13 .td_clock_19,
#tr_clock_13 .td_clock_20,
#tr_clock_13 .td_clock_21,
#tr_clock_13 .td_clock_22,
#tr_clock_13 .td_clock_23,
#tr_clock_13 .td_clock_24,
#tr_clock_14 .td_clock_8,
#tr_clock_14 .td_clock_9,
#tr_clock_14 .td_clock_10,
#tr_clock_14 .td_clock_11,
#tr_clock_14 .td_clock_12,
#tr_clock_14 .td_clock_13,
#tr_clock_14 .td_clock_14,
#tr_clock_14 .td_clock_15,
#tr_clock_14 .td_clock_16,
#tr_clock_14 .td_clock_17,
#tr_clock_14 .td_clock_18,
#tr_clock_14 .td_clock_19,
#tr_clock_14 .td_clock_20,
#tr_clock_14 .td_clock_21,
#tr_clock_14 .td_clock_22,
#tr_clock_14 .td_clock_23,
#tr_clock_14 .td_clock_24,
#tr_clock_15 .td_clock_8,
#tr_clock_15 .td_clock_9,
#tr_clock_15 .td_clock_10,
#tr_clock_15 .td_clock_11,
#tr_clock_15 .td_clock_12,
#tr_clock_15 .td_clock_13,
#tr_clock_15 .td_clock_14,
#tr_clock_15 .td_clock_15,
#tr_clock_15 .td_clock_16,
#tr_clock_15 .td_clock_17,
#tr_clock_15 .td_clock_18,
#tr_clock_15 .td_clock_19,
#tr_clock_15 .td_clock_20,
#tr_clock_15 .td_clock_21,
#tr_clock_15 .td_clock_22,
#tr_clock_15 .td_clock_23,
#tr_clock_15 .td_clock_24,
#tr_clock_16 .td_clock_10,
#tr_clock_16 .td_clock_11,
#tr_clock_16 .td_clock_12,
#tr_clock_16 .td_clock_13,
#tr_clock_16 .td_clock_14,
#tr_clock_16 .td_clock_15,
#tr_clock_16 .td_clock_16,
#tr_clock_16 .td_clock_17,
#tr_clock_16 .td_clock_18,
#tr_clock_16 .td_clock_19,
#tr_clock_16 .td_clock_20,
#tr_clock_16 .td_clock_21,
#tr_clock_16 .td_clock_22,
#tr_clock_17 .td_clock_10,
#tr_clock_17 .td_clock_11,
#tr_clock_17 .td_clock_12,
#tr_clock_17 .td_clock_13,
#tr_clock_17 .td_clock_14,
#tr_clock_17 .td_clock_15,
#tr_clock_17 .td_clock_16,
#tr_clock_17 .td_clock_17,
#tr_clock_17 .td_clock_18,
#tr_clock_17 .td_clock_19,
#tr_clock_17 .td_clock_20,
#tr_clock_17 .td_clock_21,
#tr_clock_17 .td_clock_22,
#tr_clock_18 .td_clock_8,
#tr_clock_18 .td_clock_9,
#tr_clock_18 .td_clock_10,
#tr_clock_18 .td_clock_11,
#tr_clock_18 .td_clock_12,
#tr_clock_18 .td_clock_13,
#tr_clock_18 .td_clock_14,
#tr_clock_18 .td_clock_15,
#tr_clock_18 .td_clock_16,
#tr_clock_18 .td_clock_17,
#tr_clock_18 .td_clock_18,
#tr_clock_18 .td_clock_19,
#tr_clock_18 .td_clock_20,
#tr_clock_18 .td_clock_21,
#tr_clock_18 .td_clock_22,
#tr_clock_18 .td_clock_23,
#tr_clock_18 .td_clock_24,
#tr_clock_19 .td_clock_8,
#tr_clock_19 .td_clock_9,
#tr_clock_19 .td_clock_10,
#tr_clock_19 .td_clock_11,
#tr_clock_19 .td_clock_12,
#tr_clock_19 .td_clock_13,
#tr_clock_19 .td_clock_14,
#tr_clock_19 .td_clock_15,
#tr_clock_19 .td_clock_16,
#tr_clock_19 .td_clock_17,
#tr_clock_19 .td_clock_18,
#tr_clock_19 .td_clock_19,
#tr_clock_19 .td_clock_20,
#tr_clock_19 .td_clock_21,
#tr_clock_19 .td_clock_22,
#tr_clock_19 .td_clock_23,
#tr_clock_19 .td_clock_24,
#tr_clock_20 .td_clock_10,
#tr_clock_20 .td_clock_11,
#tr_clock_20 .td_clock_12,
#tr_clock_20 .td_clock_13,
#tr_clock_20 .td_clock_14,
#tr_clock_20 .td_clock_15,
#tr_clock_20 .td_clock_16,
#tr_clock_20 .td_clock_17,
#tr_clock_20 .td_clock_18,
#tr_clock_20 .td_clock_19,
#tr_clock_20 .td_clock_20,
#tr_clock_20 .td_clock_21,
#tr_clock_20 .td_clock_22,
#tr_clock_21 .td_clock_10,
#tr_clock_21 .td_clock_11,
#tr_clock_21 .td_clock_12,
#tr_clock_21 .td_clock_13,
#tr_clock_21 .td_clock_14,
#tr_clock_21 .td_clock_15,
#tr_clock_21 .td_clock_16,
#tr_clock_21 .td_clock_17,
#tr_clock_21 .td_clock_18,
#tr_clock_21 .td_clock_19,
#tr_clock_21 .td_clock_20,
#tr_clock_21 .td_clock_21,
#tr_clock_21 .td_clock_22,
#tr_clock_22 .td_clock_8,
#tr_clock_22 .td_clock_9,
#tr_clock_22 .td_clock_10,
#tr_clock_22 .td_clock_11,
#tr_clock_22 .td_clock_12,
#tr_clock_22 .td_clock_13,
#tr_clock_22 .td_clock_14,
#tr_clock_22 .td_clock_15,
#tr_clock_22 .td_clock_16,
#tr_clock_22 .td_clock_17,
#tr_clock_22 .td_clock_18,
#tr_clock_22 .td_clock_19,
#tr_clock_22 .td_clock_20,
#tr_clock_22 .td_clock_21,
#tr_clock_22 .td_clock_22,
#tr_clock_22 .td_clock_23,
#tr_clock_22 .td_clock_24,
#tr_clock_23 .td_clock_8,
#tr_clock_23 .td_clock_9,
#tr_clock_23 .td_clock_10,
#tr_clock_23 .td_clock_11,
#tr_clock_23 .td_clock_12,
#tr_clock_23 .td_clock_13,
#tr_clock_23 .td_clock_14,
#tr_clock_23 .td_clock_15,
#tr_clock_23 .td_clock_16,
#tr_clock_23 .td_clock_17,
#tr_clock_23 .td_clock_18,
#tr_clock_23 .td_clock_19,
#tr_clock_23 .td_clock_20,
#tr_clock_23 .td_clock_21,
#tr_clock_23 .td_clock_22,
#tr_clock_23 .td_clock_23,
#tr_clock_23 .td_clock_24,
#tr_clock_24 .td_clock_10,
#tr_clock_24 .td_clock_13,
#tr_clock_24 .td_clock_14,
#tr_clock_24 .td_clock_15,
#tr_clock_24 .td_clock_17,
#tr_clock_24 .td_clock_18,
#tr_clock_24 .td_clock_19,
#tr_clock_24 .td_clock_22,
#tr_clock_24 .td_clock_23,
#tr_clock_24 .td_clock_24 {
  background: #fff;
  border: 0.05px solid rgb(218, 218, 218);
}

#tr_clock_8 .td_clock_11,
#tr_clock_8 .td_clock_12,
#tr_clock_8 .td_clock_16,
#tr_clock_8 .td_clock_20,
#tr_clock_8 .td_clock_21,
#tr_clock_9 .td_clock_11,
#tr_clock_9 .td_clock_12,
#tr_clock_9 .td_clock_20,
#tr_clock_9 .td_clock_21,
#tr_clock_11 .td_clock_8,
#tr_clock_11 .td_clock_9,
#tr_clock_11 .td_clock_23,
#tr_clock_11 .td_clock_24,
#tr_clock_12 .td_clock_8,
#tr_clock_12 .td_clock_9,
#tr_clock_12 .td_clock_23,
#tr_clock_12 .td_clock_24,
#tr_clock_16 .td_clock_8,
#tr_clock_16 .td_clock_9,
#tr_clock_16 .td_clock_23,
#tr_clock_16 .td_clock_24,
#tr_clock_17 .td_clock_8,
#tr_clock_17 .td_clock_9,
#tr_clock_17 .td_clock_23,
#tr_clock_17 .td_clock_24,
#tr_clock_20 .td_clock_8,
#tr_clock_20 .td_clock_9,
#tr_clock_20 .td_clock_23,
#tr_clock_20 .td_clock_24,
#tr_clock_21 .td_clock_8,
#tr_clock_21 .td_clock_9,
#tr_clock_21 .td_clock_23,
#tr_clock_21 .td_clock_24,
#tr_clock_24 .td_clock_11,
#tr_clock_24 .td_clock_12,
#tr_clock_24 .td_clock_16,
#tr_clock_24 .td_clock_20,
#tr_clock_24 .td_clock_21 {
  background-color: #000;
  border: 0.05px solid rgb(218, 218, 218);
}
